p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    font-size: 20px
}

h1 {
    font-family: "Playfair Display SC", serif;
    font-size:  300%;
    color: rgb(255, 255, 255);
    font-weight:400  ;
    font-style: normal;
    text-align: center;
}

.nav_bar ul {
    display: flex;
    justify-content: center;
    background-color: gray
}

.nav_bar a {
    padding: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style-type: none;
}


.departamentos{
    display: flex;
    border: solid gray;
    border-width: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 40%;
    line-height: 130%;
    
}

.departamentos div{
    display: flex;
    flex-direction: column;
}

.departamentos img {
    margin-right: 3rem;
    height: 400px;
    width: 300px;
}

.span{
    font-weight: bold;
}

#contactos p{
    text-decoration: none;
    font-family: sans-serif;
}

#contactos{
    background-color: rgb(70, 70, 70);
color: aliceblue;
font-style: italic
}

h2 {
    font-family: "Bodoni Moda", serif;
    
}
header {
    background-image: url(imagenes/matthew-henry-VviFtDJakYk-unsplash.jpg);   
}

.btn {  text-decoration: none;
background-color: #039be5;
border-radius: 20px;
color: aliceblue;
height:  200%;
width: 15%;

}
body {
background-color: rgb(70, 70, 70);

}
