p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px
}

h1 {
    text-align: center;
}

.nav_bar ul {
    display: flex;
    justify-content: center;
    background-color: #874421;
}

.nav_bar a {
    padding: 2rem;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.departamentos{
    display: flex;
    border: solid;
    color: grey;
    background-color: black;
    font-weight: 40%;
    line-height: 130%;
}

.departamentos div{
    display: flex;
    flex-direction: column;
}


.departamentos img {
    margin-right: 3rem;
    height: 400px;
    width: 300px;
}

.span{
    font-weight: bold;
}